    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About The Project</h2>
              <br/>
                <p>This is an e-payment gateway system. It implements most of EBS's services with clear emphasis on scalabilty and a maintainable code. It is written in Go, a language for building high performant systems. It is also open source, the way any serious project should be. I wrote this software while I was learning Go, I tried to write an idiomatic Go as much as possible.</p>
                <p>It is open source and it will remain open source. I will also maintain it and I welcome any contributors help me doing that as well.</p>
                <br/>
              </div>
        </div>
    </section>
